*{
    color:rgb(162, 45, 18);
    font-family: 'Bebas Neue';
    /* background-color: rgb(240, 221, 167); */
    font-size: 25px;
    /* white-space: pre-line; */
    
}

body{
    margin: 0px;
    font-size: 20px;
    height: 100vh;
}

ul {
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 7px;
}

#content{
    display: flex;
    flex-direction: column;

    height:100%;

}

.header{
    background-color: beige;
}

.title{
    font-size: 60px;
    font-weight:900;

}

.main .title{
    font-size: 50px;
    font-style: italic;
    font-weight:600;
    text-decoration: underline;
}

.pages {
    display:flex;
    list-style-type: none;
    justify-content: space-around;
    
    
}


.main{
    background-color: rgb(240, 221, 167);
    padding: 20px;
    /* height:max(200px, fit-content); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    
}

.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    column-gap: 200px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top:60px;
    padding-bottom: 60px;
    
}

.item{
    width: max(fit-content, 40%);
}

.comment, .price{
    font-size: smaller;
}

.footer{
    background-color: rgb(217, 181, 134);
    display:flex;
    justify-content: center;
}